/* Body Styles */

* {
  margin: 0;
  padding: 0;
  font-family: "Arial";
  -webkit-font-smoothing: antialiased;
  user-select: none; /* Don't allow user to highlight anything */
}

body {
  background-color: #000000; /* Default background color */
  margin: 0;
}

#__next {
  position: absolute;
  inset: 0;
  margin: 0;
}

.div-component {
  background-color: #000000;
  color: #ffffff;
  max-width: 960px;
  margin: auto;
}

@media only screen and (max-width: 1067px) {
  .div-component {
    max-width: 90%;
  }
}

.div-content {
  margin: 10% 20px 10% 20px;
  padding-bottom: 16px;
}

/* Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #757bfd;
}

/* Content Styles */

#home-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 96px;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  cursor: default;
  user-select: none;
}

#home-description {
  display: flex;
  font-size: 32px;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: default;
  user-select: none;
  margin: 0;
}

.div-detailsinside {
  margin-left: 27px;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  line-height: 120%;
  margin-top: 32px;
}

h2, summary {
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
  margin-top: 16px;
}

summary:hover {
  cursor: pointer;
}

h3, p {
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
}

li {
  font-size: 20px;
  line-height: 140%;
  list-style-type: none;
}

a {
  color: #757bfd;
  text-decoration: none;
}

a:hover {
  font-weight: 700; /* Make links bold on hover */
  cursor: pointer;
}

img {
  border-radius: 50%;
  width: 300px;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Small screen content styles */

@media only screen and (max-width: 600px) {
  #home-title {
    font-size: 64px;
  }

  #home-description {
    font-size: 24px;
  }

  h1 {
    font-size: 32px;
  }

  h2, summary {
    font-size: 24px;
  }

  h3, p {
    font-size: 16px;
  }

  li {
    font-size: 16px;
  }

  img {
    width: 80%;
  }
}
